.status {
  width: 0.5rem;
  height: 0.5rem;
  background: red;
  margin: 10px 5px 0 0;
  float: left;
  border-radius: 50%;
  &.checked-in {
    background: green;
  }
}

.pass-detail {
  border: 2px solid green;
  margin: 1rem 0 0 0;
  padding: 0 0 5px 5px;
}